<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244771928028-mb9ev0d5v1phb1t6ek06253ulq23ksm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244771928028-mb9ev0d5v1phb1t6ek06253ulq23ksm8</string>
	<key>API_KEY</key>
	<string>AIzaSyBRQNUHl7H_cRQbY-V3oAlEoUGqxsdymqc</string>
	<key>GCM_SENDER_ID</key>
	<string>244771928028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmi</string>
	<key>PROJECT_ID</key>
	<string>bmi-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>bmi-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244771928028:ios:b3512156535016da52c119</string>
</dict>
</plist>